<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="username-signup">Username</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">Password</label>
        <input type="password" id="password-signup" />
      </div>
      <button type="submit" id="submit" class="btn" >Signup!</button>
      <a href="/login">I already have an account</a>
    </form>
  </div>
</div>

<script src="/javascript/signup.js"></script>